/* header styling start here*/
%flex-repeat {
  @include displayFlex();
}

%align-repeat {
  @include align-items(center);
}

%transition-repeat {
  @include transition(all, .3s, ease-in-out);
}

.header {
  @include position(absolute, 3, 0, 0, $left: 0);

  .wrapper {
    width: 100%;
    @at-root {
      .header-logo {
        width: 51%;
        padding-top: 18px;
        margin: 0 auto;
        @extend %flex-repeat;
        @extend %align-repeat;
        @include justify-content(space-between);
      }
    }

    .hamburger {
      display: none;
      .bar {
        width: 25px;
        height: 3px;
        margin: 5px;
        display: block;
        background-color: $white;
        text-indent: -9999px;
        @extend %transition-repeat;
      }
    }

    .logo-heading {
      @include position(relative);
      color: $logo-color;
      @include font(30px);
      @include flex-basis(auto);
    }

    .logo-heading::before {
      @include contentBefore(\f106, $float: left);
      @include position(absolute, $top: -9px, $right: -16px);
      color: $before-color;
      @include font (30px, $family: "FontAwesome");
      @include transform(rotate(-316deg));
    }

    @at-root {
      .logo-form {
        @extend %flex-repeat;
        @extend %align-repeat;
        @include flex-basis(34%);
        @include justify-content(center);

        .log-input {
          width: 74%;
          input {
            box-sizing: border-box;
            width: 100%;
            padding: 6px 4px 6px 10px;
            border: none;
            outline: none;
          }
        }

        .go-btn {
          box-sizing: border-box;
          padding: 6px 10px;
          border: none;
          background-color: $background-color;
          color: $white;
          outline: none;
          text-transform: capitalize;
        }
      }
    }

    .navbar {
      width: 100%;
      margin-top: 40px;
      background: linear-gradient(to right, #2e7bc791, #367db5, #367db59e, #225FAB);
      @at-root {
        .nav-list {
          width: 51%;
          padding: 6px 0;
          margin: 0 auto;
          @extend %flex-repeat;
          @extend %align-repeat;
          .list-item {
            padding: 0 1.3%;
            border-right: 1px solid $background-color;
          }

          .list-item:last-child {
            border-right: none;
          }
          .nav-link {
            color: $white;
            @include font(11px);
            text-transform: capitalize;
            @extend %transition-repeat;
          }
        }
      }
    }
  }

}

/* header end here*/